<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Normal Mode</h1>
    <p>
      In normal mode (aka app mode) all the margin and padding values are set to
      0. That way you have more control over how things should be arranged or
      spaced, using pre-defined classes like <code>.arrange</code> or
      <code>.space</code>.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit qui,
      neque fugiat temporibus aperiam nam, iure provident possimus, non fugit
      quas harum? Corporis molestiae optio voluptas sed? Voluptatem, in unde!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus animi,
      mollitia pariatur illo ut. Nostrum asperiores blanditiis quae dolorem aut,
      suscipit labore eius in distinctio ab. Ratione ducimus, repellat nemo!
    </p>

    <section class="content-mode">
      <h1>Content Mode</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque tempora
        amet labore. Debitis eligendi nemo dolores doloremque ab amet quaerat
        tempora, natus aliquam fugiat reprehenderit suscipit est blanditiis, in
        voluptatem.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sunt
        similique, earum error perspiciatis ipsam, nisi quod nemo excepturi,
        atque nulla iste minima. Labore reprehenderit saepe, suscipit.
        Architecto, excepturi, dicta.
      </p>
    </section>
  </body>
</html>
