body {
  font-family: "Lato", sans-serif;
}

.docs-body {
  max-width: 1024px;
  margin: var(--space) auto;
  padding: var(--space);
  /*border: 1px solid var(--gray);*/
}

.vertical-grid {
  position: relative;
}

.vertical-grid::after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: "";
  display: block;
  pointer-events: none;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.vertical-grid::after {
  top: 0;
  background: linear-gradient(rgb(0, 173, 255) 1px, transparent 1px) left top /
    1px var(--base-font-size);
}

body.vertical-grid *:not(hr) {
  background-color: rgba(0, 0, 0, 0.18) !important;
}

#toggle-grid-button {
  background: none;
  border: 1px solid;
  padding: 5px;
  position: fixed;
  top: 1rem; right: 1rem
}

[class*="box"] {
  width: 25px;
  height: 25px;
  background-color: #d0f6ff;
  border: 1px solid #66e2ff;
}

.box--lg {
  width: 25%
}

.area {
  height: auto;
  min-height: 5rem;
  background-color: white;
  border: 1px solid gray;
}

[class*="sections"] {
  display: grid;
  grid-gap: var(--space)
}

.sections-half {
  grid-gap: var(--space-half);
}

.sections--x2 {
  grid-gap: var(--space-x2);
}

.sections--x3 {
  grid-gap: var(--space-x3);
}

.sections--x4 {
  grid-gap: var(--space-x4);
}

