<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/build/modern.css" />
    <style>
      .box {
        width: 50px;
        height: 10px;
        background-color: black;
      }
    </style>
    <title>modern.css</title>
  </head>
  <body class="space-v--md">
    <section class="space-v">
      <h2>space-h</h2>
      <div class="space-h">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </section>
    <section class="space-v">
      <h2>space-v</h2>
      <div class="space-v">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id
          dolorem laborum ex praesentium. Voluptatem non aspernatur atque sint
          iste aliquid eaque aperiam quibusdam asperiores perspiciatis! Dolorem
          possimus dolor in!
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
          natus, aliquid. Earum accusamus dolorum illum sit voluptatibus
          voluptatum iste, rerum soluta temporibus nisi dolor consectetur modi!
          Laborum impedit, veniam pariatur.
        </p>
      </div>

      <h2>space-v--md</h2>
      <div class="space-v--md">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat accusantium sapiente aspernatur tempore animi architecto odit? Enim, suscipit, dolorum. Alias officia in illum, aut repudiandae ex, sequi rem ratione ullam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aliquam impedit eius cupiditate nihil! Itaque, quaerat dolorum laborum, recusandae rerum dicta ipsam? Dignissimos soluta illum asperiores neque eligendi, vitae ipsa!</p>
      </div>
    </section>
  </body>
</html>
