[class*="arrange"] {
  display: flex;
  width: 100%;
}

/* Stacking */
[class*="arrange"],
[class*="arrange--" i][class*="sh" i] {
  flex-direction: row;
}

[class*="arrange--" i][class*="sv" i] {
  flex-direction: column;
}

/* Centering */
[class*="arrange--" i][class*="cv" i],
[class*="arrange--" i][class*="sh" i][class*="cv" i] {
  align-items: center;
}

[class*="arrange--" i][class*="ch" i],
[class*="arrange--" i][class*="sh" i][class*="ch" i] {
  justify-content: center;
}

[class*="arrange--" i][class*="sv" i][class*="cv" i] {
  justify-content: center;
  align-items: flex-start;
}

[class*="arrange--" i][class*="sv" i][class*="ch" i] {
  justify-content: flex-start;
  align-items: center;
}

[class*="arrange--" i][class*="cv" i][class*="ch" i] {
  justify-content: center;
  align-items: center;
}

/* Distributing */
[class*="arrange--" i][class*="dist" i],
[class*="arrange--" i][class*="sh" i][class*="dist" i] {
  justify-content: space-between;
}

/* Wrapping */
[class*="arrange--" i][class*="wrap"],
[class*="arrange--" i][class*="sh"][class*="wrap"] {
  flex-wrap: wrap;
  align-items: center;
  --arrange-gap: var(--default-space);
}

[class*="arrange--" i][class*="wrap"] > *:not(:last-child) {
  margin-right: var(--arrange-gap);
}

[class*="arrange--" i][class*="wrap"] > * {
  margin-bottom: var(--arrange-gap);
}
