html {
  font-size: var(--base-font-size);
  color: var(--fg);
}

body {
  font-size: var(--body-font-size);
  line-height: var(--base-font-lh);
  font-weight: normal;
}

small,
.small,
.small > * {
  font-size: 0.75rem;
  line-height: 1rem;
}

.strong, strong {
  font-weight: 400;
}


p {
  font-size: var(--body-font-size);
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1rem;
}

h5 {
  font-size: 1rem;
  line-height: 1rem;
}

h6 {
  font-size: 1rem;
  line-height: 1rem;
}

[class*="headline"] {
  border-bottom: 1px solid var(--gray-lighter);
}

.headline {
  padding-bottom: var(--space-half);
}

a,
.link {
  color: var(--primary);
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

figcaption {
  line-height: 1.5625rem;
}

blockquote {
  border-left: 4px solid var(--gray-lighter);
  padding: var(--space-half) var(--space);
}

code {
  background-color: var(--gray-lightest);
  padding: 0.1em 0.3em;
}

