html {
  font-size: var(--base-font-size);
  color: var(--fg);
}

.serif, .serif > * {
  font-family: "times", serif;
}

body {
  font-size: var(--body-font-size);
  line-height: 1.5rem;
  font-weight: normal;
}

small, .small,  .small > * {
  font-size: 0.75rem;
  line-height: 1rem;
}

p {
  font-size: var(--body-font-size);
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4 {
  line-height: 2rem;
}

h5, h6 {
  line-height: 1rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

a, .link {
  color: var(--primary);
  text-decoration: none;
}

a:hover, .link:hover {
  text-decoration: underline;
}

figcaption {
  line-height: 1.5625rem;
}

fieldset {
  line-height: 1.9375rem;
  padding: var(--sp1);
  border: 1px solid var(--gray);
  border-radius: 2px;
}

blockquote {
  border-left: 4px solid var(--gray);
  padding-left: var(--space);
}

code {
  background-color: var(--gray2);
  padding: 0
}

.strong {
  font-weight: 400;
}


