html {
  font-size: var(--base-font-size);
  line-height: 1;
  color: var(--fg);
}

body {
  font-size: 1.05rem;
  line-height: var(--space-x2);
  font-weight: 100;
}

small {
  font-weight: 1rem;
  line-height: 1rem;
}

p {
  font-weight: 100;
}

h1 {
  font-size: 3.1rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.9375rem;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.0625rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 0.875rem;
}

h6 {
  font-size: 1.3rem;
  line-height: 1.0625rem;
}

figcaption {
  line-height: 1.5625rem;
}

fieldset {
  line-height: 1.9375rem;
  padding: var(--sp1);
  border: 1px solid var(--gray);
  border-radius: 2px;
}

blockquote {
  border-left: 4px solid var(--gray);
  padding-left: var(--space);
}

code {
  background-color: var(--gray2);
  padding: 0
}

.strong {
  font-weight: 400;
}
