ul li {
  list-style: disc;
  list-style-position: inside;
}

ul {
  margin-left: 0;
}

ul ul {
  margin-left: var(--space);
}

ul ol ul {
  margin-left: 0;
}

ul > li:before {
  content: "";
  margin-right: -6px;
}
