body {
  font-family: "Lato", sans-serif;
}

html.read-mode {
  --base-font-size: 22px;
}

.docs-body {
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--space) var(--space) var(--space-x2) var(--space);
}

.vertical-grid {
  position: relative;
}

.vertical-grid::after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: "";
  display: block;
  pointer-events: none;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.vertical-grid::after {
  top: 0;
  background: linear-gradient(rgb(0, 173, 255) 1px, transparent 1px) left top /
    1px var(--base-font-size);
}

body.vertical-grid *:not(hr) {
  background-color: rgba(28, 18, 51, 0.12) !important;
}

[class*="box"] {
  width: 25px;
  height: 25px;
  background-color: #d0f6ff;
  border: 1px solid #66e2ff;
}

.box-lg {
  width: 25%;
}

.area {
  height: auto;
  min-height: 5rem;
  background-color: white;
  border: 1px solid gray;
}

/* colors */
.colors {
  --cell-min-width: 2rem;
  --row-height: 2rem;
}

.color.primary-dark {
  background-color: var(--primary-dark);
}
.color.primary {
  background-color: var(--primary);
}
.color.primary-light {
  background-color: var(--primary-light);
}
.color.primary-lighter {
  background-color: var(--primary-lighter);
}
.color.primary-lightest {
  background-color: var(--primary-lightest);
}


.color.secondary-dark {
  background-color: var(--secondary-dark);
}
.color.secondary {
  background-color: var(--secondary);
}
.color.secondary-light {
  background-color: var(--secondary-light);
}
.color.secondary-lighter {
  background-color: var(--secondary-lighter);
}
.color.secondary-lightest {
  background-color: var(--secondary-lightest);
}


.color.success-dark {
  background-color: var(--success-dark);
}
.color.success {
  background-color: var(--success);
}
.color.success-light {
  background-color: var(--success-light);
}
.color.success-lighter {
  background-color: var(--success-lighter);
}
.color.success-lightest {
  background-color: var(--success-lightest);
}


.color.danger-dark {
  background-color: var(--danger-dark);
}
.color.danger {
  background-color: var(--danger);
}
.color.danger-light {
  background-color: var(--danger-light);
}
.color.danger-lighter {
  background-color: var(--danger-lighter);
}
.color.danger-lightest {
  background-color: var(--danger-lightest);
}


.color.warning-dark {
  background-color: var(--warning-dark);
}
.color.warning {
  background-color: var(--warning);
}
.color.warning-light {
  background-color: var(--warning-light);
}
.color.warning-lighter {
  background-color: var(--warning-lighter);
}
.color.warning-lightest {
  background-color: var(--warning-lightest);
}


.color.info-dark {
  background-color: var(--info-dark);
}
.color.info {
  background-color: var(--info);
}
.color.info-light {
  background-color: var(--info-light);
}
.color.info-lighter {
  background-color: var(--info-lighter);
}
.color.info-lightest {
  background-color: var(--info-lightest);
}


.color.gray-dark {
  background-color: var(--gray-dark);
}
.color.gray {
  background-color: var(--gray);
}
.color.gray-light {
  background-color: var(--gray-light);
}
.color.gray-lighter {
  background-color: var(--gray-lighter);
}
.color.gray-lightest {
  background-color: var(--gray-lightest);
}
