/**
 * Try to stick to these values for settings values that
 * affect elements spacing, like paddings and margins.
 * For most use cases use `var(--space)`.
 */

html {
  --PRIVATE_BASE_SPACE: 1rem;
}

html {
  --space-half: calc(var(--PRIVATE_BASE_SPACE) / 2);
  --space: var(--PRIVATE_BASE_SPACE);
  --space-x2: calc(var(--PRIVATE_BASE_SPACE) * 2);
  --space-x3: calc(var(--PRIVATE_BASE_SPACE) * 3);
  --space-x4: calc(var(--PRIVATE_BASE_SPACE) * 4);
}
