/**
 * Try to stick to these values for settings values that
 * affect elements spacing, like paddings and margins.
 * For most use cases use `var(--space)`.
 */

html {
  --PRIVATE_BASE_SPACE_VALUE: 1rem;
}

body {
  --space-half: calc(var(--PRIVATE_BASE_SPACE_VALUE) / 2);
  --space: var(--PRIVATE_BASE_SPACE_VALUE);
  --space-x2: calc(var(--PRIVATE_BASE_SPACE_VALUE) * 2);
  --space-x3: calc(var(--PRIVATE_BASE_SPACE_VALUE) * 3);
  --space-x4: calc(var(--PRIVATE_BASE_SPACE_VALUE) * 4);
}
