.h100 {
  height: 100%;
}

.pad {
  padding: var(--m-space2);
}

.pad3 {
  padding: var(--m-space3);
}

.pt {
  padding-top: var(--m-space);
}

.pb {
  padding-bottom: var(--m-space);
}

.pbt,
.ptb {
  padding-top: var(--m-space);
  padding-bottom: var(--m-space);
}

.pl { padding-left: var(--m-space) }
.pr { padding-right: var(--m-space) }
.plf, .prl {
  padding-left: var(--m-space);
  padding-right: var(--m-space);
}

.mt {
  margin-top: var(--m-space);
}

.mb {
  margin-bottom: var(--m-space);
}

.m,
.margin {
  margin: var(--m-space);
}

.mbt,
.mtb {
  margin-top: var(--m-space);
  margin-bottom: var(--m-space);
}

.grid,
.dg {
  display: grid;
}

.flexible-grid {
  --m-flexible-cell-min-width: 17rem;
  --m-flexible-row-height: 5rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--m-flexible-cell-min-width), 1fr)
  );
  grid-gap: var(--m-space);
  grid-auto-rows: var(--m-flexible-row-height);
  align-items: stretch;
}

.flexible-grid > * {
  width: 100%;
}

.df,
.flex {
  display: flex;
}

.fc,
.fdc,
.fcol,
.flex-col {
  display: flex;
  flex-direction: column;
}

.fr,
.fdr,
.frow,
.flex-row {
  display: flex;
  flex-direction: row;
}

.ac,
.aic,
.acenter {
  align-items: center;
}

.jc,
.jcc,
.jcenter {
  justify-content: center;
}

.jcsb,
.space-between {
  justify-content: space-between;
}

.section:not(:last-child),
.veq:not(:last-child) {
  margin-bottom: var(--m-space2);
}

.flex1 {
  display: flex;
}

.flex1 > * {
  flex: 1;
}
