body {
  font-family: 'Lato', sans-serif;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--m-space);;
}

#toggle-grid-button {
  background: none;
  border: 1px solid;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
}


