body {
  font-size: 1.05rem;
  line-height: 2rem;
  font-weight: 100;
}

small {
  font-weight: 1rem;
  line-height: 1rem;
}

p {
  font-weight: 100;
}

h1 {
  font-size: 3.1rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.9375rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.0625rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.0625rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 0.875rem;
}

h6 {
  font-size: 1.3rem;
  line-height: 1.0625rem;
}

.bb,
.border-bottom {
  border-bottom: 1px solid;
  padding-bottom: var(--m-space);
}

figcaption {
  line-height: 1.4;
}

fieldset {
  line-height: 1.9375rem;
  padding: var(--m-space1);
  border: 1px solid #bbb;
  border-radius: 2px;
}
