/* TODO: revisit all of these classes ... [class...] */
[class*="arrange"] {
  display: flex;
  width: 100%;
}

/* Stacking */
[class*="arrange"],
[class*="arrange"][class*="sh"] {
  flex-direction: row;
}

[class*="arrange"][class*="sv"] {
  flex-direction: column;
}

/* Centering */
[class*="arrange"][class*="cv"],
[class*="arrange"][class*="sh"][class*="cv"] {
  align-items: center;
}

[class*="arrange"][class*="ch"],
[class*="arrange"][class*="sh"][class*="ch"] {
  justify-content: center;
}

[class*="arrange"][class*="sv"][class*="cv"] {
  justify-content: center;
  align-items: flex-start;
}

[class*="arrange"][class*="sv"][class*="ch"] {
  justify-content: flex-start;
  align-items: center;
}

[class*="arrange"][class*="cv"][class*="ch"] {
  justify-content: center;
  align-items: center;
}

/* Distributing */
[class*="arrange"][class*="dist"],
[class*="arrange"][class*="sh"][class*="dist"] {
  justify-content: space-between;
}

/* Wrapping */
/* TODO: revisit this and how it compares to space-h */
[class*="arrange"][class*="wrap"],
[class*="arrange"][class*="sh"][class*="wrap"] {
  flex-wrap: wrap;
  align-items: center;
  --arrange-gap: var(--space);
}

[class*="arrange"][class*="wrap"] > *:not(:last-child) {
  margin-right: var(--arrange-gap);
}

[class*="arrange"][class*="wrap"] > * {
  margin-bottom: var(--arrange-gap);
}
