/* position */
.pos-fixed {
  position: fixed;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-default {
  position: static;
}

/* fill width */
.fill-w {
  width: 100%;
}

/* pill */
.pill {
  border-radius: 100rem
}
