/* flexible grid */
.flexible-grid {
  --cell-min-width: 17rem;
  --row-height: 5rem;
  --grow-type: auto-fit;
  display: grid;
  grid-template-columns: repeat(
    var(--grow-type),
    minmax(var(--cell-min-width), 1fr)
  );
  grid-gap: var(--m-space);
  grid-auto-rows: var(--row-height);
  align-items: stretch;
}

.flexible-grid > * {
  width: 100%;
}


/* .space vertically */
.space--v > *:not(:last-child) {
  margin-bottom: var(--space);
}

.space--v--half > *:not(:last-child) {
  margin-bottom: var(--space-half);
}

.space--v--x2 > *:not(:last-child) {
  margin-bottom: var(--space-x2);
}

.space--v--x3 > *:not(:last-child) {
  margin-bottom: var(--space-x3);
}

.space--v--x4 > *:not(:last-child) {
  margin-bottom: var(--space-x4);
}


/* space horizontally */
[class^="space-h" i] {
  display: flex;
  flex-direction: row;
  --space-h__value: var(--space);
}

[class^="space-h" i] > *:not(:last-child) {
  margin-right: var(--space-h__value);
}

[class^="space-h" i][class*="md" i] {
  --space-h__value: var(--sp4);
}

[class^="space-h" i][class*="wrap"] {
  flex-wrap: wrap;
}

[class^="space-h" i][class*="wrap"] > *:not(:last-child) {
  flex-wrap: wrap;
  margin-bottom: var(--space-h__value);
}
